# Ignore node_modules and dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore build output
.next
out
dist

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore miscellaneous files
*.log
*.swp
*.DS_Store
